<form action="#" method="POST" enctype="multipart/form-data" style="width:400px;height:auto;border:1px solid gray;clear:both;" name="formtest" >
<fieldset  >
<legend>formularz</legend>
<label for="plik" >wymagany plik<br /></label>
<input type="file" name="plik[]"   multiple="multiple" style="width:290px;height:20px;border:1px solid red;" id="plik"  />
<input type="hidden" name="MAX_FILE_SIZE"  value="10M"    />
<input type="image"   src="a.jpg" style="width:60px;height:50px;border:2px solid brown;background-color:brown;float:right;"  />
</fieldset></form>
